@model MvcLaundry.Models.Transaksi

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
	<div class="breadcrumbs ace-save-state" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Dashboard</li>
		</ul><!-- /.breadcrumb -->

		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
					<i class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
			</form>
		</div><!-- /.nav-search -->
	</div>

	<div class="page-content">
        
<h1>Details</h1>

<div>
    <h4>Transaksi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamaUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamaUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlamatUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlamatUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoHPUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoHPUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TglTransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TglTransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalTransaksi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalTransaksi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Users)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Users.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JenisPakaian)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JenisPakaian.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

	</div><!-- /.page-content -->
</div>
